<div class="container">
  <div class="row">
    <div class="grid-container" *appDisplayMovies="showMovies">
      <div class="grid-item" appMadirective><img src="../assets/img/film1.jpg" alt="Star Wars [Film Series]" ></div>
      <div class="grid-item" appMadirective> <img src="../assets/img/film2.jpg" alt="Star Wars [Film Series]" ></div>
      <div class="grid-item" appMadirective> <img  src="../assets/img/film3.jpg" alt="Star Wars [Film Series]" ></div>  
      <div class="grid-item" appMadirective> <img src="../assets/img/film4.jpg" alt="Star Wars [Film Series]" ></div>
      <div class="grid-item" appMadirective> <img  src="../assets/img/film5.jpg" alt="Star Wars [Film Series]" ></div>
      <div class="grid-item" appMadirective> <img src="../assets/img/film6.jpg" alt="Star Wars [Film Series]" ></div>  
    </div>
  </div>
</div>